body {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 18px;  
    padding: 20px;  
    background: url(../images/forest.png);
    background-size: cover;
    width: 100%;
}

nav {
    font-size: 20px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

.navbar {
  overflow: hidden;
  background-color: rgb(67, 83, 72);
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

h1 {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    color: forestgreen;
    /*mix-blend-mode: screen;*/
    font-family: 'DM Serif Display', serif;
    font-size: 60px;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    box-shadow: 0px 2px 4px rgb(80, 80, 80);
}

#homeHeader {
    width: 100%;
    height: 75px;  
}

#donutHeader {
    width: 100%;
    height: 75px;
}

* {
    box-sizing: border-box;
}


/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
    width: 74%;
}
  
  /* Right column */
.rightcolumn {
    float: left;
    width: 26%;
    padding-left: 20px;
}
  
/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
  
/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 40px;
    margin-top: 20px;
    border-radius: 2px;
}

.LI-profile-badge {
    padding-top: 20px;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    float: left;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    display: block;
    width: 100vmax;
    max-width: 100%;
    height: auto;
    background-color:rgb(2, 48, 8);
    color: white;
    text-align: center;
}
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
}

  
h2{
    color: rgb(2, 48, 8);
    margin: 20px;
}

p {
    font-family: 'Lato';
    margin: 20px;
}


h3 {
    font-family: 'Lato';
    margin: 10px;
}

#donutCard {
   text-align: center;
   opacity: 80%;
}

#donut {
    width: 140px;
    height: 140px;
    transition: transform .2s; /* Animation */
    margin: 40px;
    margin-bottom: 20px;
    text-align: center; 
   opacity: 100%;
}

#donut:hover {
    transform: scale(1.2); 
}